h1{
	background-color: #8E8E8E;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

h2{
	text-align: center;
	background-color: #8E8E8E;
	font-family: 'Times New Roman', Times, serif;
}
h2, p{
	font-family: 'Helvetica', serif;
}
span{
	text-align: center;
	background-color: #8E8E8E;
}
nav{
	text-align: center;
}
.iframe{
	width: 420;
	height: 315;
}

